databases:
  - name: geodetector-db
    databaseName: geodetector
    user: geouser
    plan: free

services:
  - type: web
    name: geodetector
    env: python
    region: ohio
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn GeoDetector.wsgi:application"
    envVars:
      - key: RENDER
        value: true
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
